@page "/Prestamo/Index"
@inject PrestamoService PrestamoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Registro de Prestamos</PageTitle>
<div class="Container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Prestamo</h5>
        </div>
        
        <div class="card-body">
 <!-- Filtros de búsqueda y botón crear -->
 <div class="mb-3 row align-items-end">
     <div class="col-md-3">
         <label for="filtrarPor" class="form-label">Filtrar por:</label>
         <select id="filtrarPor" class="form-select form-select-sm" @bind="Filtro">
             <option value="deudores">Deudores</option>
             <option value="conceptos">Conceptos</option>
         </select>
     </div>
     <div class="col-md-4">
         <label for="valorFiltro" class="form-label">Buscar:</label>
         <input type="text" id="valorFiltro" class="form-control form-control-sm" placeholder="Buscar..." @bind="valorFiltro">
     </div>
     <div class="col-md-3">
         <button class="btn btn-outline-primary btn-sm" type="button" @onclick="Buscar">
             <span class="bi bi-search"></span> Buscar
         </button>
     </div>
     <div class="col-md-2 text-end">
                    <!-- Botón Crear que lleva a /Prestamo/Create -->
                    <a href="/Prestamo/Create" class="btn btn-success btn-sm">
                        <span class="bi bi-plus-square"></span> Crear
                    </a>
                </div>
            </div>
            <!-- Tabla -->
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center text-white bg-primary">
                    <tr>
                        <th>ID</th>
                        <th>Deudores</th>
                        <th>Conceptos</th>
                        <th>Montos</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListaPrestamos.Any())
                    {
                        foreach (var registro in ListaPrestamos)
                        {
                            <tr>
                                <td class="text-center">@registro.PrestamoId</td>
                                <td class="text-center">@registro.Deudor.Nombres</td>
                                <td class="text-center">@registro.Conceptos</td>
                                <td class="text-center">@registro.Monto</td>
                                <td class="text-center">
                                    <a href="/Prestamo/Edit/@registro.PrestamoId" class="btn bi bi-pencil-square"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Prestamo/Delete/@registro.PrestamoId" class="btn bi bi-trash"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">No hay Prestamos disponibles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label>Cantidad:  @ListaPrestamos.Count()</label>
            <label>Total:  @ListaPrestamos.Sum(p => p.Monto)</label>
        </div>
    </div>
</div>


@code {

    public List<Prestamos> ListaPrestamos = new List<Prestamos>();

    private string Filtro { get; set; } = string.Empty;
    private string valorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaPrestamos = await PrestamoService.GetList(p => p.PrestamoId > 0);
    }

    public async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (Filtro == "deudores")
            {
                ListaPrestamos = await PrestamoService.GetList(p => p.Deudor.Nombres.ToLower().Contains(valorFiltro.ToLower()));
            }
            else if (Filtro == "conceptos")
            {
                ListaPrestamos = await PrestamoService.GetList(p => p.Conceptos.ToLower().Contains(valorFiltro.ToLower()));
            }
        }
        else
        {
            ListaPrestamos = await PrestamoService.GetList(p => p.PrestamoId > 0);
        }
    }
        private async Task Restablecer()
        {
            ListaPrestamos = await PrestamoService.GetList(p => p.PrestamoId > 0);
            Filtro = string.Empty;
            valorFiltro = string.Empty;
        }

    }
