@page "/Cliente/Index"
@inject ClienteService ClienteService
@rendermode InteractiveServer

<PageTitle></PageTitle>
<div class="Container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Clientes</h5>
        </div>

        <div class="card-body">
            <!-- Botón Crear que lleva a Create -->
            <div class="text-end mb-3">
                <a href="/RegistroClienteDetalle/Create" class="btn btn-success btn-sm">
                    <span class="bi bi-plus-square"></span> Crear
                </a>
            </div>
            <!-- Tabla -->
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center text-white bg-primary">
                    <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>RNC</th>
                        <th>Dirección</th>
                        <th>Límite de Crédito</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListaClientes.Any())
                    {
                        foreach (var registro in ListaClientes)
                        {
                            <tr>
                                <td class="text-center">@registro.ClienteId</td>
                                <td class="text-center">@registro.Nombres</td>
                                <td class="text-center">@registro.Rnc</td>
                                <td class="text-center">@registro.Direccion</td>
                                <td class="text-center">@registro.LimiteCredito</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">No hay Clientes disponibles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Clientes> ListaClientes = new List<Clientes>();

    protected override async Task OnInitializedAsync()
    {
        ListaClientes = await ClienteService.Listar(p => true);
    }
}

