@page "/Cobro/Index"
@inject CobrosService CobroService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<div class="Container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Cobros</h5>
        </div>

        <div class="card-body">
            <!-- Filtros de búsqueda y botón crear -->
            <div class="mb-3 row align-items-end">
                <div class="col-md-3">
                    <label for="filtrarPor" class="form-label">Filtrar por:</label>
                    <select id="filtrarPor" class="form-select form-select-sm" @bind="Filtro">
                        <option value="deudor">Deudor</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="valorFiltro" class="form-label">Buscar:</label>
                    <input type="text" id="valorFiltro" class="form-control form-control-sm" placeholder="Buscar..." @bind="valorFiltro">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-primary btn-sm" type="button" @onclick="Buscar">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
                <div class="col-md-2 text-end">
                    <!-- Botón Crear que lleva a /Cobro/Create -->
                    <a href="/Cobro/Create" class="btn btn-success btn-sm">
                        <span class="bi bi-plus-square"></span> Crear
                    </a>
                </div>
            </div>
            <!-- Tabla -->
            <table class="table table-light table-bordered">
                <thead class="table table-striped text-center text-white bg-primary">
                    <tr>
                        <th>CobroID</th>
                        <th>Fecha</th>
                        <th>Deudor</th>
                        <th>Montos</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListaCobros.Any())
                    {
                        foreach (var cobro in ListaCobros)
                        {
                            <tr>
                                <td class="text-center">@cobro.CobroId</td>
                                <td class="text-center">@cobro.Fecha</td>
                                <td class="text-center">@cobro.Deudor.Nombres</td>
                                <td class="text-center">@cobro.Monto</td>
                                <td class="text-center">
                                    <a href="/Cobro/Details/@cobro.CobroId" class="btn bi bi-eye"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Cobro/Edit/@cobro.CobroId" class="btn bi bi-pencil-square"></a>
                                </td>
                                <td class="text-center">
                                    <a href="/Cobro/Delete/@cobro.CobroId" class="btn bi bi-trash"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">No hay Cobros disponibles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label>Cantidad:  @ListaCobros.Count()</label>
            <label>Total:  @ListaCobros.Sum(p => p.Monto)</label>
        </div>
    </div>
</div>


@code {
    public List<Cobros> ListaCobros = new List<Cobros>();
    public string Filtro { get; set; } = string.Empty;
    public string valorFiltro { get; set; } = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        ListaCobros = await CobroService.Listar(p => p.CobroId > 0);
    }

    public async Task Buscar()
    {
        if (valorFiltro.Trim() != "")
        {

            if (Filtro == "Deudor")
            {
                ListaCobros = await CobroService.Listar(p => p.Deudor.Nombres.ToLower().Contains(valorFiltro.ToLower()));
            }
        }
        else
            ListaCobros = await CobroService.Listar(p => p.CobroId > 0);

    }
    private async Task Restablecer()
    {
        ListaCobros = await CobroService.Listar(p => p.CobroId > 0);
        Filtro = string.Empty;
        valorFiltro = string.Empty;
    }
}
